<div class="form-group">
  <label for="<%= id %>"><h6><%= label %></h6></label>
  <input type="<%= type %>" name="<%= name %>" class="form-control mb-4>" id="<%= id %>" placeholder="<%= placeholder %>" value="" required>
</div>